.container-actividad {
    box-sizing: border-box;

    width: 360px;
    height: auto;


    left: 3.7%;
    right: 4.76%;
    top: 14.95%;
    bottom: 42.06%;
    margin-right: 18px;
    margin-left: 18px;

    background: #FFFFFF;
    /* Stroke Color */

    border: 1px solid #EFF0F6;
    /* Tile Dropshadow */

    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.li {
    list-style: none;
    border: #FFFFFF;
    
}

code {
    font-family: Arial, Helvetica, sans-serif;
}

/* variables de colores duppla*/
:root {
    --color-primario-btn: #6C9FFF;
    --color-fondo: #FFFFFF;
    --color-naranja-duppla: #FF864B;
    --color-verde-duppla: #C5F5CA;
    --color-cimiento-duppla: #0A3323;
    --color-sombra-duppla: #EEEFF3;
    --color-fondo-gris: #F9F9F9;
}

.contenedor-progress-donut{
    width: 380px;
}


.grafict-container-two{



    width: 360px;
    height: 400px;

    margin-right: 18px;
    margin-left: 18px;
    margin-top: 100px;

    background: #FFFFFF;
    /* Stroke Color */

    border: 1px solid #EFF0F6;
    /* Tile Dropshadow */

    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.text-graph-two{
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: -33px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}