.nav-prueba {
    height: 68px;
    background-color: aqua;
}

.nav-space-icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 36px;
    height: 46px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.nav-house {
    width: 36px;
    height: 36px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100px;
    border-color: blue;
   }

   



.btn-nav-custumer {

    width: 64px;
    height: 64px;
    border-radius: 59%;
}