/* variables de colores duppla*/
:root {
  --color-primario-btn: #6C9FFF;
  --color-fondo: #FFFFFF;
  --color-naranja-duppla: #FF864B;
  --color-verde-duppla: #C5F5CA;
  --color-cimiento-duppla: #0A3323;
  --color-sombra-duppla: #EEEFF3;
  --color-fondo-gris: #F9F9F9;
}


.payment{

height: 1000px;

}

.text-blue-pagos {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--color-primario-btn);
  margin-top: 7px;
}

.text-blue-pagos :hover {
   color: var(--color-fondo);
  margin-top: 10px;
}

.btn-imp-factura {
  box-sizing: border-box;

  position: relative;
  width: 170px;
  height: 52px;
  top: 24px;
  margin-right: 10px;
  background: var(--color-fondo);
  color: #323F4B;
  /* Neutral / Grey 800 */
  border: 1px solid var(--color-primario-btn);
  border-radius: 10px;
}

.btn-imp-factura :hover {
  width: 170px;
  height: 52px;
 
  background: var(--color-primario-btn);
  color: #FFFFFF;
  border: 1px solid var(--color-primario-btn);
  border-radius: 10px;

}

.description-payment-methods{
  box-sizing: border-box;

width: 340px;
height: 540px;

margin-top: 30px;
margin-left: 25px;
margin-right: 25px;

background: #FFFFFF;
box-shadow: 0px 0px 10px 1px rgba(115, 113, 113, 0.15);
border-radius: 8px;
}

.payment-methods {

  width: 280px;
  height: 60px;

  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.payment-instructions{
  width: 300px;
  height: 48px ;

  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
}



.text-payment-methods {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  

}

.card-payment-methods{

   width: 300px;
   height: 140px;
  margin-left: 20px;
   margin-top: 26px;
  margin-right: 20px;
  /* Grey/0
  
  Card Background 
  */
  background: #FFFFFF;
  /* Shadow/Card Shadow */
  
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;

}

.text-blue-payment{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: var(--color-primario-btn);
}

.title-card-payment{
  margin-top: 10px;
  margin-left: 10px;
}

.description-payment{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  


}