html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  width: 100% !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Arial, Helvetica, sans-serif;
}

/* variables de colores duppla*/
:root {
  --color-primario-btn: #6C9FFF;
  --color-fondo: #FFFFFF;
  --color-naranja-duppla: #FF864B;
  --color-verde-duppla: #C5F5CA;
  --color-cimiento-duppla: #0A3323;
  --color-sombra-duppla: #EEEFF3;
  --color-fondo-gris: #F9F9F9;
}

/*Configuración container*/
.container-fluid {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.container {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.container-sm {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.container-md {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

/*Estilos para el componente sing in*/

.btn-registro {
  color: var(--color-fondo);
  font-family: Arial, Helvetica, sans-serif;
}

.b-color-gris {
  color: var(--color-fondo-gris)
}

.card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.card-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 25px;
}

.card-text-docs {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 4px;
}

.card-text-aprov {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 4px;

}

.container-sing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 180px;
  padding: 10px;
  width: 380px;
  height: auto;

}

.img-logotipo {
  width: 327px;
  height: 269px;
  left: 24px;
  top: 180px;

}

.btn {
  border-radius: 5px;
}

.btn-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 315px;
  height: 46px;
  border-radius: 10px;
  box-shadow: 0 5 15 0 var(--color-sombra-duppla);
  margin-top: 50px;
  margin-bottom: 16px;
  background: var(--color-primario-btn);

}

.centrado-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 315px;
  height: 46px;
  margin-bottom: 50px;
}

.btn-center-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-ingreso-google {
  background-color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
}

.btn-ingreso-facebook {
  background-color: #ffffff;
  ;
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);

}

.img-ingreso {
  padding: 5px;
  margin-right: 18px;
}

.btn-primary {
  background-color: var(--color-primario-btn);
}

.link-btn {
  text-decoration: none;
}

.btn-decoration {
  text-decoration: none;
}

/*Estilos registro email y contraseña*/

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.container-register {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: auto;
  margin-top: 30px;

}

.arrow-return {
  margin-top: 10px;
  text-decoration: none;
  color: #000000;
}

.title-register {
  padding: 0 0 5px 5px;
  margin-top: 20px;
  text-align: start;
  margin-bottom: 20px;
  margin-left: 15px;

}

.form-register {
  padding: 5px;
  ;
  margin-top: 20px;
}

.btn-mover {
  margin-left: 18px;
}

.input-register {

  width: 352px;
  height: 52px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/*Estilos perfil*/
.container-profile {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background: #F5F5F5;
  height: 1200px;

}

.profile-data {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  left: 14px;
  top: 70px;
  bottom: 100px;
  background: linear-gradient(138.67deg, #0A3323 16.71%, #C5F5CA 162.89%);
  border-radius: 5px;
}

/*Manejo img de perfil y home*/
.img-fluid {
  width: 358px;
  height: 200px;
  margin-left: 16px;
  margin-right: 16px;
  
}

.img-user {
  width: 64px;
  height: 63px;
  margin-left: 32px;
  margin-top: 25px;
}
.img-user-img {
  width: 64px;
  height: 63px;
  margin-top: 30px;
  margin-left: 16px;
  margin-bottom: 10px;

}
.contenedor-img-duppla {
  width: 80px;
  height: 30px;

}

.img-duppla {
  position: absolute;
  padding: 0px;
  width: 80px;
  height: 28px;
  left: 283px;
  top: 20px;
  margin-left: 20px;
  margin-right: 24px;
}

.card-home {
  margin-top: 75px;
}

.img-state-progress {
  width: 32px;
  height: 32px;
  margin-top: 18px;
  margin-left: 16px;
  margin-bottom: 18px;

}

.text-state-progress{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px ;
}


.user-data-card {

  background-color: var(--color-fondo);
  height: 650px;
  padding: 18px 138px 18px 16px;
  gap: 10px;
  top: 204px;
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

/*sección datos en perfil*/

.card-perfil {
  margin-top: 27px;
  margin-bottom: 30px;

}

.links {
  text-decoration: none;

}

/* linea en perfil |*/
hr {
  position: absolute;

  width: 59px;
  height: 0px;
  left: 90px;
  top: 65px;
  bottom: 34px;

  border: 2px solid #FFFFFF;
  transform: rotate(90deg);

}

.more {
  width: 110px;
}

.link-styles {

  color: var(--color-fondo);
  left: 25px;
  font-size: 14px;
  font-weight: 500;
}



/*Estilos inicio o home aplicación*/


/* tarjeta perfil home*/
.profile {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;

  left: 0px;
  top: 0px;
  bottom: 100px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 31px;

  background: linear-gradient(60.01deg, #0A3323 19.88%, #C5F5CA 217.71%);
  background-size: 100%;
  background-repeat: no-repeat;
  border-bottom-right-radius: 16%;
  border-bottom-left-radius: 16%;

}

.img-icono-card {
  width: 36px;
  height: 48px;
  left: 27px;
  margin-top: 25px;
  margin-right: 16px;
  bottom: 22px;

}

.img-icono-card-inm{
  width: 50px;
  height: 56px;
  margin-left: -5px;
  margin-top: 18px;
  margin-right: 30px;
  bottom: 22px;

}

.btn-state-home {
  margin-top: 65px;
  margin-left: 4px;
}

.card-top {
  margin-top: 25px;
  margin-bottom: 4px;
}

.card-home-offer {
  margin-left: 30px;
  margin-right: 0px;
  padding: 0px 0px 0px 8px;
}

.text-white {
  color: var(--color-fondo);
}

.text-orange {
  color: var(--color-naranja-duppla);
}

.img-cerrar {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.text.amp {
  width: 300px;
  height: 15px;
}

.btn-cerrar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: -16px;
}

.Container-cards-seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 5px;

  padding: 16px 24px;
  gap: 16px;

  width: 365px;
  height: 120px;
  margin-left: 16px;
  margin-right: 16px;

  border-radius: 5px;
  top: 210px;
  bottom: 100px;

  background-color: var(--color-fondo);
  border: 1px solid #E1EBF4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;

}

.Container-cards-seccion-m {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 5px;

  padding: 16px 24px;
  gap: 16px;
  height: 120px;
  margin-left: 16px;
  margin-right: 16px;

  border-radius: 5px;
  top: 210px;
  bottom: 100px;

  background-color: var(--color-fondo);
  border: 1px solid #E1EBF4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;

}

.text-black {
  color: #000000;
}

.navbar {
  margin-top: 50px;
  border-color: #0A3323;
  border-radius: 0px;
  border:#0A3323;
 

}

.navbar-container{
  height: 30rem;
}

.navbar-nav {
  margin: 50px 30px 10px 20px;
   color:#0A3323;
}

.nav-section{
  height: 60px;

}


.tarjetasdatos-usuario {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  width: 380px;
  height: 100px;
  left: 25px;
  top: 210px;
  bottom: 100px;

  background-color: var(--color-fondo);
  border: 1px solid #E1EBF4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.link-style {
  color: #0A3323;
  left: 25px;
  font-size: 14px;
  font-weight: 500;
}

.card-docs {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 16px 24px;
  gap: 16px;

  width: 365px;
  height: 80px;
  left: 25px;
  top: 210px;
  bottom: 100px;
  margin-left: 16px;
  margin-right: 16px;
  background-color: var(--color-fondo);
  border: 1px solid #E1EBF4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;

}

.card-docs-m {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 5px;

  padding: 16px 24px;
  gap: 16px;
  height: 80px;
  margin-left: 16px;
  margin-right: 16px;

  top: 210px;
  bottom: 100px;

  background-color: var(--color-fondo);
  border: 1px solid #E1EBF4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}


.btn-m {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 5px;

  padding: 16px 24px;
  gap: 16px;
  height: 80px;
  margin-left: 16px;
  margin-right: 16px;


  top: 210px;
  bottom: 100px;


}

.card-docs-agenda {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 16px 24px;
  gap: 16px;
  width: 390px;
  height: 80px;
  left: 25px;
  top: 210px;
  bottom: 100px;
  background: #FFFFFF;
  border: 1.4px solid #D0D0D0;
  border-radius: 10px;
}

.arrow-menu {
  width: 24px;
  height: 24px;
}

.img-estados {
  width: 358px;
  height: 257px;
  margin-left: 16px;
  margin-right: 16px;
}


a {
  text-decoration: none;
}

.btn-prueba {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 0px;
  gap: 8px;
  width: 365px;
  height: 58px;
  left: 24px;
  margin-top: 30px;
  margin-bottom: 5px;
  background: linear-gradient(0deg, #81A1F8, #81A1F8), #81A1F8;
  /* M3/Elevation Light/1 */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.btn-prueba-blanco {
  width: 365px;
  height: 58px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #FFFFFF;
  border: 1px solid #6C9FFF;
  /* M3/Elevation Light/1 */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

}

.btn-prueba-ingreso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 0px;
  gap: 8px;
  width: 330px;
  height: 58px;
  left: 24px;
  margin-top: 30px;
  margin-bottom: 5px;
  background: linear-gradient(0deg, #81A1F8, #81A1F8), #81A1F8;
  /* M3/Elevation Light/1 */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}








.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded-start {
  width: 58px;
  height: 58px;
  border-radius: 100%;
}

.img-data-perfil {
  width: 48px;
  height: 48px;
  margin-top: 18px;
  margin-left: 16px;
  margin-bottom: 18px;

}

.text-center {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.text-docs {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: start;
}

.text-reu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: start;
  margin-top: 1px;
}

.text-blue {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--color-primario-btn);
}

.danger-text {
  color: var(--color-naranja-duppla);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.text-btnloggout {
  margin: 0px 0px 0px 0px;
  ;
  padding: 0px 0px 15px 0px;
  top: -50px;
}

.text-space {
  margin-top: 15px;
  padding: 0px 0px 0px 0px;
}

/*Estilos componenete inmueble-property*/

.card-inmueble {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  width: 390px;
  height: 180px;
  left: 25px;
  right: 25px;
  top: 210px;
  bottom: 100px;
}

.card-body {
  padding-bottom: 5px;
  width: 280px;
}


.card-body-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body-docs {
  padding-bottom: 5px;

}

.card-perfil-datos{
  margin-top: -10px;
  margin-bottom: 15px;

}

.description-apt {
  margin: 16px 16px 16px 16px;
}

.btn-d-cancel {
  box-sizing: border-box;

  position: relative;
  width: 160px;
  height: 52px;
  margin-left: 10px;

  top: 24px;

  background: #81A1F8;
  color: var(--color-fondo);
  /* Neutral / Grey 800 */

  border: 0.5px solid #323F4B;
  border-radius: 10px;
}

.btn-d-aceptar {
  box-sizing: border-box;

  position: relative;
  width: 160px;
  height: 52px;
  top: 24px;
  margin-right: 10px;
  background: var(--color-fondo);
  color: #323F4B;
  /* Neutral / Grey 800 */
  border: 0.5px solid #323F4B;
  border-radius: 10px;
}

.space-btn-property {
  margin-top: 34px;
  margin-bottom: 24px;

}

.container-property {
  height: 1200px;
}

.card-state-properties {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 16px;
  width: 360px;
  margin-bottom: 6px;
 
}

.card-state-properties-home {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 16px;
  width: 380px;
  margin-bottom: 6px;
  margin-top: 5px;
  margin-left: 30px;
}


.nav-item {
  border-top: 1px solid #f3f4f6;
  border-bottom:1px solid #f3f4f6; 
  border-left:1px solid #ffffff; 
  border-right:1px solid #ffffff;
   
}

.img-navbar{
  width: 50px;
  height: 5px;

  margin-left: 155px;
}

.text-navbar-options{
 margin: 12px 10px -10px 30px;
}
.img-state-propety {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.dropdown-menu-cambio {
  width: 280px;
  height: 230px;
  margin-bottom: 10px;

  background: #F9F9F9;
  border-radius: 10px;
}

.list-group-item {
  width: 260px;
  height: 30px;
  background: #F9F9F9;
  border: #F9F9F9;
}





/*Sección de oferta*/
.container-offer {

  height: 700px
}




/*Responsive*/
@media (min-width: 300px) {}



@media (min-width: 576px) {}

/*Dispositivos medianos (tabletas, 768px y más)*/
@media (min-width: 768px) {}

/* Dispositivos grandes (escritorios, 992px y más)*/
@media (min-width: 992px) {}

/* Dispositivos X-Large (escritorios grandes, 1200px y más)*/
@media (min-width: 1200px) {}

/* Dispositivos XX-Large (escritorios más grandes, 1400px y más)*/
@media (min-width: 1400px) {}

;